h1 {
    color: rgb(255,0,0);
}

.block {
    background-color:  rgb(241,221,221);
    border-style: dotted;
    border-width: 5px;
    border-radius: 20px;
    border-color: rgb(255, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

img {
       width: 50%;
       margin: auto;
        display: block;

}